<div class="container">
	<div class="jumbotron text-center">
		<h1>QuizApp</h1>
		<h4>A (free) <i>teacher oriented</i> quiz maker.</h4>
	</div>
</div>

<div class="container">
	<div class="col-md-4 block-list">
		<div class="well b-1">
			<h1 class="midrow text-center">minimal</h1>
			<h4 class="left">our user interface is quick and convenient, available anywhere</h4>
			<p><a class="btn btn-warning btn-small btn-block btn-lg" href="/signup">Sign up now</a></p>
		</div>
	</div>
	<div class="col-md-4 block-list">
		<div class="well b-2">
			<h1 class="midrow text-center">robust</h1>
			<h4 class="left">an unlimited number of questions and custom options for full control</h4>
		</div>
	</div>
	<div class="col-md-4 block-list">
		<div class="well b-3">
			<h1 class="midrow text-center">seamless</h1>
			<h4 class="left">we've build cross platform support so that your content looks great on any device</h4>
		</div>
	</div>
</div>